@use './reset';

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

#root {
  width: 100dvw;
  height: calc(100dvh - 5px);
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}

header,
footer {
  height: 64px;
  flex-shrink: 0;
}

main {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.custom-toast-progress {
  background-color: #0ba4b3 !important; /* ✅ Applique la couleur */
}
