// Design Colors
// Variables SASS pour l'utilisation dans SASS
$primary-color: #0ba4b3;
$secondary-color: #0c3434;
$interaction-color: #617bbe;
$highlight-color: #eca72c;

$text-color: #ededed;
$text-highlight-color: #f0e2e7;

$bg-dark-color: #111111;
$bg-neutral-color: #1e1e1e;

$border-neutral-color: #222627;

// CSS Custom Properties pour l'utilisation dans styled-components
:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --interaction-color: #{$interaction-color};
  --highlight-color: #{$highlight-color};

  --text-color: #{$text-color};
  --text-highlight-color: #{$text-highlight-color};

  --bg-dark-color: #{$bg-dark-color};
  --bg-neutral-color: #{$bg-neutral-color};

  --border-neutral-color: #{$border-neutral-color};
}
// $jezabel-bg: #ecd9ff;
// $jezabel-text: #9f40ff;
// $jezabel-button-bg: #ecd9ff;
// $jezabel-button-border: #9f40ff;

// $eric-bg: #c6e2ff;
// $eric-text: #409fff;
// $eric-button-bg: #c6e2ff;
// $eric-button-border: #409fff;

// // Neutre et général
// $white: white;
// $black: black;

// $highlight: #ffd54f;
// $neutral: #eef5f4;

// $main-color: #017374;
// $accent-color: #02d7d7;
